/* La police Daytona que j'avais choisi est payante, j'ai donc du prendre la police Blinker qui lui ressemble */
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300&display=swap');

/*/////////////////////////////////////
/                Général              /
/////////////////////////////////////*/

html {
    font-family: 'Blinker', Daytona, Arial, sans-serif;
    background: #f6f6f6;
    color: #000000;
    line-height: 1.2;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

/*/////////////////////////////////////
/               Header                /
/////////////////////////////////////*/

.header {
    background-color: lightgray;
    text-align: center;
    border-bottom: groove;
}

.logo-menu {
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
}

/*/////////////////////////////////////
/                Main                 /
/////////////////////////////////////*/

.Menu {
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: #0397D5;
    font-size: 22px;
    max-width: 200px;
    list-style-type: none;

    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.logo-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.img-site-prod {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.retour-en-haut {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table tbody tr {
    font-size: 70%;
}

table {
    text-align: center;
}

main table , table tr , table tr td {
    border: 1px solid #000000;
    border-collapse: collapse;
    text-align: center;
}

.panneau-hp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-linux {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.facade-hp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*/////////////////////////////////////
/                Body                 /
/////////////////////////////////////*/

.titre-page {
    text-align: center;
}

/*/////////////////////////////////////
/                Footer               /
/////////////////////////////////////*/

.logofacebook {
    margin-left: 60px;
}

.footer {
    background-color: black;
    border-radius: 30% 30% 30% 30%;
    margin-top: 30px;
}

.logo-2 {
    margin-left: 15px;
    margin-right: 15px;
}

.logo-hp {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
