/*/////////////////////////////////////
/                Général              /
/////////////////////////////////////*/

/*/////////////////////////////////////
/                Header               /
/////////////////////////////////////*/

/*/////////////////////////////////////
/                Main                 /
/////////////////////////////////////*/

/*/////////////////////////////////////
/                Body                 /
/////////////////////////////////////*/

.titre-page {
    text-align: center;
}

/*/////////////////////////////////////
/                Footer               /
/////////////////////////////////////*/

.logofacebook {

}

/*/////////////////////////////////////
/        Page Investissements         /
/////////////////////////////////////*/

.image-linux {
    text-align: center;
    display: inline-block;
}
