/* Écrans moyens >= 500 */
@media screen and (min-width: 500px) {

}

/* Écrans moyens >= 900 */
@media screen and (min-width: 900px) {

    header {
        font-size: 22px;
        margin-left: 1px;
        margin-right: 1px;
    }

    main {
        margin-left: 20px;
        margin-right: 50px;
        font-size: 22px;
    }

    footer {
        margin-left: 20px;
        margin-right: 50px;
        font-size: 22px;
    }

    .img-site-prod {
        display: block;
        margin-left: 0;
        height: 40%;
        width: 40%;
    }

    .video {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
        width: 50%;
        height: 400px;
    }

    .titre-page {
        font-size: 30px;
    }

    .logo-hp {
        width: 30%;
        height: 30%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .facade-hp {
        display: block;
        margin-left: 0;
        width: 30%;
        height: 30%;
    }

    .panneau-hp {
        display: block;
        margin-left: 0;
        width: 35%;
        height: 35%;
    }
}
